@import 'styles/utils/shared';

.Logo__wrapper {
  &--small {
    height: 22px;

    @include onTablet {
      height: 28px;
    }
  }

  &--medium {
    height: 32px;
  }

  &--large {
    height: 42px;

    @include onTablet {
      height: 52px;
    }
  }
}

.Logo {
  &__link {
    display: flex;
    align-items: center;
  }

  &__image {
    height: 100%;
  }
}
