@import "styles/utils/shared";

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 16px;
  // width: 100%;
  border: none;
  background: none;
  color: $color-secondary;

  @include transition;

  &:hover {
    color: $color-primary;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid $color-elements;

    @include transition;

    &:hover {
      background-color: $color-elements;
    }
  }

  @include onTablet {
    width: auto;
  }
}
