@import "styles/utils/shared";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: $color-primary;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}

.input,
.textarea,
.select select {
  background-color: $background-color;
  border-color: $color-secondary;
  border-radius: 4px;
  color: $color-primary;
}
