@import 'styles/utils/shared';

.Nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  gap: 30px;

  @media (min-width: 730px) {
    justify-content: space-between;
    gap: 0;
  }

  &__left_container {
    display: none;

    @media (min-width: 730px) {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__right_container {
    display: none;
    @include onTablet {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
    }
  }

  &__menu {
    height: 100%;
    @include onTablet {
      display: none;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-secondary;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    padding: 8px;
    height: 100%;

    @include transition;

    &:hover {
      color: $color-primary;
    }

    @include onTablet {
      margin: 0;
      line-height: 32px;
      &:not(:last-child) {
        margin-right: 22px;
      }
    }

    @include onDesktop {
      &:not(:last-child) {
        margin-right: 64px;
      }
    }

    &--active {
      color: $color-primary;
      // color: red;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: $color-primary;
      }
    }
  }

  &__iconLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 50%;
    min-width: 64px;
    border-left: 1px solid $color-nav-border;
    // border-top: 1px solid $color-nav-border;
    // border-left: 1px solid $color-secondary;
    // border-top: 1px solid $color-secondary;

    &__icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;

      &__counter {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        border: 1px solid $color-white;
        border-radius: 50%;
        background-color: $color-red;
        color: $color-white;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
