$color-red: #eb5757;
$color-green: #27ae60;
$color-white: #fff;
$color-gray-primary: #313237;

$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-icons: #b4bdc3;
$color-hover: #fafbfc;

$mobile-max-width: 639px;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;

$duration: 0.3s;
