@import 'styles/utils/shared';

.cart {
  &__page {
    margin-bottom: 32px;
    margin-top: 16px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.48px;
    color: $color-primary;
    margin-bottom: 32px;
  }

  &__block {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    margin: auto;
    text-align: center;
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    color: $color-primary;
    font-size: 24px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;

    gap: 16px;

    @include onMobile {
      flex-direction: column;
    }

    @include onTablet {
      flex-direction: row;
    }

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__checkout {
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;

    height: fit-content;
    align-items: center;
    background-color: $background-card;

    @include onMobile {
      width: auto;
    }

    @include onTablet {
      width: 368px;
    }

    @include onDesktop {
      width: 368px;
    }

    &__full-price {
      color: $color-primary;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.32px;
    }

    &__total-count {
      color: $color-secondary;
      margin-bottom: 25px;
    }

    &__line {
      border-top: 1px solid $color-elements;
      width: 98%;
    }

    &__button {
      margin: 24px;

      line-height: 46px;
      font-family: inherit;
      font-size: 14px;
      width: 100%;

      border: 1px solid $color-buttons;
      background-color: $color-buttons;
      color: $background-color;
      transition:
        background-color $duration,
        color $duration;

      &--active {
        border-color: $color-elements;
        background-color: $color-white;
        color: $color-green;
      }

      &:hover {
        cursor: pointer;
        background-color: $color-elements;
        color: $color-primary;
      }

      &:disabled,
      &:disabled:hover,
      &:disabled:active,
      &:disabled:hover:active {
        border-color: $color-elements;
        background-color: $color-white;
        color: $color-secondary;
      }
    }
  }

  &__product {
    padding: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    background-color: $background-card;

    @include onMobile {
      flex-direction: column;
    }

    @include onTablet {
      flex-direction: row;
    }

    @include onDesktop {
      flex-direction: row;
    }

    // #region main
    &__main {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
    }

    &__link {
      gap: 24px;
      align-items: center;
    }

    &__image {
      // margin: 7px;
      width: 100%;
      height: 100%;
      object-fit: contain;

      &-block {
        height: 66px;
        width: 66px;
      }
    }

    &__title {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      color: $color-primary;
      font-family: 'Montserrat', sans-serif;
    }

    // #endregion
    // #region info
    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 200px;
      justify-content: space-between;

      gap: 16px;
    }

    &__quantity {
      display: flex;
      flex-direction: row;
      align-items: center;

      gap: 13px;
    }

    &__counter-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 1px solid $color-icons;
      color: $color-primary;
      background-color: $background-card;

      &__active {
        background-color: $color-elements;
      }
    }

    &__button {
      width: 20px;
      height: 20px;
      border: 1px solid white;
    }

    &__button:hover {
      border: 1px solid $color-secondary !important;
    }

    &__button:focus {
      border: 1px solid $color-primary !important;
      box-shadow: none !important;
    }

    &__counter {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      color: $color-primary;
    }

    &__price {
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 800;
      line-height: 140%;
      color: $color-primary;
      width: 80px;
      text-align: end;
    }

    // #endregion
  }
}

.back-home {
  display: inline-block;
  border: 2px solid $color-buttons;
  color: $color-buttons;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 1rem 0.6rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  transition: all $duration;
  margin-top: 20px;

  &:hover {
    background: #222;
    box-shadow: 0 3px 8px $color-buttons;
    color: #ddd;
  }
}
