@import 'styles/utils/shared';

.Header {
  position: relative;
  display: flex;
  align-items: center;
  // border-bottom: 1px solid $color-secondary;
  border-bottom: 1px solid $color-nav-border;
  box-shadow: 0px -1px 0px 0px #e2e6e9;
  overflow: hidden;
  height: 48px;
  line-height: 48px;

  @include onDesktop {
    height: 64px;
    line-height: 64px;
  }

  &__logo {
    margin-left: 16px;

    @include onTablet {
      margin-right: 24px;
    }

    @include onDesktop {
      margin: 0 64px;
    }
  }
}

.CloseIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -14px;
  right: -14px;
  width: 64px;
  height: 48px;
  cursor: pointer;
  // border-left: 1px solid $color-nav-border;
}

.Modal__Dark {
  padding: 0;
  margin: 0;
  background-color: rgba(15, 17, 33, 1);

  min-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Modal {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);

  min-width: 100%;
  height: 100vh;
  overflow: hidden;

  &__Content {
    display: flex;
    flex-direction: column;

    height: 100%;

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding-top: 32px;
    }

    &__block--links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &__block--icons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 64px;
      border-top: 1px solid $color-nav-border;
    }
  }

  @include onTablet {
    display: none;
  }
}

.Model__Dark {
  background-color: #fff;
}

.Overlay {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;

  @include onTablet {
    display: none;
  }
}

/* mobile/custom-animation.css from left to right */

@keyframes customEnterOverlayAnimation {
  0% {
    transition: 0.3s 0.5s;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transition: 0.3s 0.5s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes customLeaveOverlayAnimation {
  0% {
    transition: 0.3s 0.5s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    transition: 0.3s 0.5s;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
