@import 'styles/utils/shared';

.Header {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-elements;
  overflow: hidden;
  height: 48px;
  line-height: 48px;

  @include onDesktop {
    height: 64px;
    line-height: 64px;
  }

  &__logo {
    margin-left: 16px;

    @include onTablet {
      margin-right: 24px;
    }

    @include onDesktop {
      margin: 0 64px;
    }
  }
}
