@import 'styles/utils/shared';

.capacity {
  position: relative;
  padding-bottom: 24px;

  &__group {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__item {
    padding-inline: 8px;
    padding-block: 3px;
    border: 1.2px solid $color-buttons;
    color: $color-primary;

    transition: border-color $duration;

    &:hover {
      cursor: pointer;
      border-color: $color-primary;
      box-shadow: 0 2px 3px 0 $color-buttons;
      color: $color-primary;
    }

    &--current {
      background-color: $color-buttons;
      color: $background-color;

      &:hover {
        color: $color-white;
        box-shadow: 0 2px 8px 0 $color-buttons;
      }
    }

    &:active {
      background-color: $color-buttons;
      color: $color-white;
    }
  }
}
