@import "../../styles/utils/_shared.scss";

.home-page {
  &__title {
    color: $color-primary;
  }

  &__categories {
    margin-top: 80px;
    font-size: 41px;

    color: $color-primary;

    @include onTablet {
      margin-top: 64px;
    }

    @include onMobile {
      margin-top: 24px;
    }
  }

  padding-bottom: 80px;

  @include onTablet {
    padding-bottom: 64px;
  }

  @include onMobile {
    padding-bottom: 64px;
  }
}
